.resume-container{
    background-color: var(--background);
    height: 160vh;
    padding: 100px;
 
    .resume-content{
        text-align: center;

        h1{
            font-size: 35px;
            font-weight: 400;
            color: var(--cream-500);
            margin-top: 40px;
        }

        h1 + h1{
            font-size: 70px;
            color: var(--white);
        }

        .resume-navbar{
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            padding: 0% 26%;
            
            a{
                text-decoration: none;
                color: var(--dark-grey-100);
                margin-left: 10px;
                font-weight: 200;
            }

            a:nth-child(1){
                //TODO: change colore on selected menu
                color: var(--cream-500);
            }
        }

        .resume-photo-section{
            padding-top: 40px;
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            height: 600px;

            .photo{
                width: 405px;
                height: 526px;
                background-color: var(--white);
                margin-left: 100px;  
                margin-top: 45px; 
            }

            .details{
                margin-left: 120px;
                width: 50%;
                text-align: left;       

                h1{
                    font-size: 20px;
                    font-weight: 200;
                    color: var(--cream-500);
                }

                p{
                    padding-top: 20px;
                    font-weight: 200;
                    line-height: 25px;
                    color: white;
                }

                span{
                    padding-left: 20px;
                }

                .contact{
                    padding-top: 20px;
                    color: white;
                    text-align: left;
                    padding-left: 5px;
                }

                .work-progress-button{
                    margin-top: 70px;
                    align-content: center; 
                   
                    button{
                        border-radius: 35px;
                        outline: 1px solid var(--grey);
                        outline-offset: 3px;
                        height: 61px;
                        width: 256px;
                        color: var(--cream-700);
                        font-family: var(--kanit-font-family);
                        font-size: 18px;
                        font-weight: 300;
                        text-align: center;
                        color: var(--grey);
                        background-color: var(--dark-grey-100);
                    }
            
                    button:hover{
                        background-color: var(--button-hover);
                    }

                    img{
                        width: 20px;
                        height: 25px;
                        margin-left: 15px;
                        margin-bottom: -6px;
                    }
                }
            }
        }
    }
}