<div class="heading-container">
  <div class="heading">
    <h3>RESUME</h3>
    <h1>Discover My Resume</h1>
  
    <div class="resume-navbar">
      <button class="resume-navbar-button resume-focused-menu" #aboutMeButton matButton (click)="loadSection('aboutme', $event)">ABOUT ME</button>
      <button class="resume-navbar-button" matButton (click)="loadSection('experience', $event)">EXPERIENCE</button>
      <button class="resume-navbar-button" matButton (click)="loadSection('education', $event)">EDUCATION</button>
      <button class="resume-navbar-button" matButton (click)="loadSection('skills', $event)">SKILLS</button>
      <button class="resume-navbar-button" matButton (click)="loadSection('awards', $event)">AWARDS</button>
    </div>

    <div class="resume-navbar-mobile">
      <button matButton (click)="previuosSection()">
        <mat-icon svgIcon="chevron-left"></mat-icon>
        <mat-icon svgIcon="chevron-left"></mat-icon>
        <!-- <mat-icon svgIcon="chevron-left"></mat-icon> -->
      </button>
  
        <p>{{ sections[index] }}</p>
  
        <button matButton (click)="nextSection()">
          <mat-icon svgIcon="chevron-right"></mat-icon>
          <mat-icon svgIcon="chevron-right"></mat-icon>
          <!-- <mat-icon svgIcon="chevron-right"></mat-icon> -->
        </button>
    </div>
  </div>

  <app-resume-about-me-section *ngIf="sectionName === 'aboutme'"></app-resume-about-me-section>
  <app-resume-experience-section *ngIf="sectionName === 'experience'"></app-resume-experience-section>
  <app-resume-education-section *ngIf="sectionName === 'education'"></app-resume-education-section>
  <app-resume-skills-section *ngIf="sectionName === 'skills'"></app-resume-skills-section>
  <app-resume-awards-section *ngIf="sectionName === 'awards'"></app-resume-awards-section>
</div>
