<div class="resume-container">
  <div class="resume-content">
    <h1>RESUME</h1>
    <h1>Discover My Resume</h1>

    <div class="resume-navbar">
      <a [routerLink]="['/aboutme']">ABOUT ME</a>
      <a [routerLink]="['/experience']">EXPERIENCE</a>
      <a [routerLink]="['/education']">EDUCATION</a>
      <a [routerLink]="['/skills']">SKILLS</a>
      <a [routerLink]="['/awards']">AWARDS </a>
    </div>

    <div class="resume-photo-section">
       <div class="photo">

       </div>
       <div class="details">
          <h1>HI, I AM VASILE BADRAGAN A SOFTWARE ENGINEER</h1>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <div class="contact">
            <p>Name <span>:Vasile Badragan</span></p>
            <p>Nationality <span>:Moldavien</span></p>
            <p>Experience <span>:5+ Years</span></p>
            <p>Phone <span>:+37376775951</span></p>
            <p>Languages <span>:English, Russian, Italian</span></p>
            <p>Email <span>:vb@mail.ru</span></p>
          </div>
       </div>
    </div>
  </div>
</div>
