<div class="experience">
  <!-- <div class="vertical-timeline">

  </div> -->
  <!-- <div class="hr-timeline">
   
  </div> -->

  <mat-icon svgIcon="outlined-dot"></mat-icon>
  <hr> 

  <div class="timeline">
    <div class="timeline-item">
       <h4>Junior UI/UX Designer</h4>
       <p>2022 - 2023</p>
       <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="timeline-item">
      <h4>Junior UI/UX Designer</h4>
      <p>2022 - 2023</p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
   </div>
   <div class="timeline-item">
    <h4>Junior UI/UX Designer</h4>
    <p>2022 - 2023</p>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
 </div>
</div>