.experience {
  padding: 0% 10%;
  display: flex;
  grid-template-columns: 1fr 5fr;

  // .vertical-timeline {
  //   width: 100px;
  //   border-left: 6p solid white;
  //   border-style: dashed;
  //   background-color: red;
  //   height: 500px;
  //   rotate: 90deg;
  // }

  .hr-timeline{
    width: 20px;
    height: 100%;
    background-color: red;


  }
    hr{
      border: 1px dashed white;
     // margin-right: 20px;
    }
 
   mat-icon{
    position: absolute;
    margin-left: 3.7vw;
    margin-top: 100px;
   }
  

  .timeline {
    //margin-left: -50px;
    display: grid;
    gap: 30px;

    .timeline-item {
      background-color: var(--dark-grey-500);
      padding: 50px;
      text-align: left;

      h4 {
        font-size: 24px;
        font-weight: 400;
        color: var(--cream-500);
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 200;
        color: var(--white);
      }

      p + p {
        margin-top: 20px;
      }
    }
  }
}
