.experience {
  padding: 0% 10%;
  display: flex;
  grid-template-columns: 1fr 5fr;

  hr {
    border: 1px dashed var(--white);
  }

  mat-icon {
    position: absolute;
    margin-left: 3.7vw;
    margin-top: 100px;
  }

  .timeline {
    display: grid;
    gap: 30px;

    .timeline-item {
      background-color: var(--dark-grey-500);
      padding: 50px;
      text-align: left;

      h4 {
        font-size: 24px;
        font-weight: 400;
        color: var(--cream-500);
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 200;
        color: var(--white);
      }

      p + p {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .experience {
    padding: 0px 0px;
    display: flex;
    grid-template-columns: 1fr 5fr;
  
    hr {
      border: 1px dashed var(--white);
    }
  
    mat-icon {
      position: absolute;
      margin-left: 3.7vw;
      margin-top: 100px;
    }
  
    .timeline {
      display: grid;
      gap: 30px;
      width: 90%;
  
      .timeline-item {
        background-color: var(--dark-grey-500);
        padding: 30px;
        text-align: left;
  
        h4 {
          font-size: 24px;
          font-weight: 400;
          color: var(--cream-500);
          margin-bottom: 10px;
        }
  
        p {
          font-size: 18px;
          line-height: 25px;
          font-weight: 200;
          color: var(--white);
        }
  
        p + p {
          margin-top: 20px;
        }
      }
    }
  }
}
