

  <div class="testimonial">
     <h1>TESTIMONIAL</h1>
     <h2>Clients Feedback</h2>

     <div class="testimonial-card">
         <div class="image"></div>
         <div class="details">
           <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
           <div class="pearson">
             <div class="name">
               <p>Daniel Manson</p>
               <p>Founder at CM Corp</p>
             </div>

             <div class="rating">
              <p>* * * * *</p>
              <p>5.0/5.0</p>
            </div>
           </div>
         </div>
     </div>

     <div class="testimonial-navigation">
      <button><< PREVIOUS</button>
      <p>01 --------------- 04</p>
      <button>NEXT >></button>
    </div>
  </div>

  <div class="blog">
    <h1>BLOG</h1>
    <div class="title">
      <h1>Recent Blog</h1>
      <button>DISCOVER MORE --></button>
    </div>

    <div class="content">
     <div class="photo-container photo-container-custom custom-margin">
      <div class="date">
        <p>30 December 2023</p>
      </div>
      <div class="description">
        <p>Designing The Perfect Feature Comaprison Table</p>
        <p>Web Development</p>
      </div>
     </div>

     <div class="photo-container-custom photo-container-custom custom-margin">
      <div class="photo-inner-container">
        <div class="date">
          <p>30 December 2023</p>
        </div>
        <div class="description">
          <p>Designing The Perfect Feature Comaprison Table</p>
          <p>Web Development</p>
        </div>
      </div>
      <div class="photo-inner-container">
        <div class="date">
          <p>30 December 2023</p>
        </div>
        <div class="description">
          <p>Designing The Perfect Feature Comaprison Table</p>
          <p>Web Development</p>
        </div>
      </div>
      
     </div>
     <div class="photo-container photo-container-custom">
      <div class="date">
        <p>30 December 2023</p>
      </div>
      <div class="description">
        <p>Designing The Perfect Feature Comaprison Table</p>
        <p>Web Development</p>
      </div>
     </div>
    </div>
  </div>

