<div class="navbar">
  <div class="navbar-link"> 
    <div class="logo">
      <img src="assets/logo.png" width="50px" height="30px">
    </div>

    <div class="navbar-link-items">
      <a class="custom" [routerLink]="['']">HOME</a>
      <a class="custom" [routerLink]="['/about']">ABOUT</a>
      <a class="custom" [routerLink]="['/portfolio']">PORTFOLIO</a>
      <a [routerLink]="['/service']">SERVICE</a>
      
      <a (click)="showDropdown()">
        PAGES
        <nav class="nav">    
        <ul class="dropdown-content" id="dropdown-content">
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/single-blog']">Single Blog</a></li>
          <li><a [routerLink]="['/single-portfolio']">Single Portfolio</a></li>
        </ul>
        </nav>
      </a>
    </div>
  </div>

  <div class="buttons">
     <button class="mode-button" mat-icon-button>
      <img src="assets/moon.png" width="40px" height="40px">
     </button>
     <button class="contact-button" mat-stroked-button>CONTACT</button>
  </div>
</div>


