<div class="navbar">
  <div class="navbar-link"> 
    <div class="logo">
      <img src="assets/logo.png" width="50px" height="30px">
    </div>

    <div class="navbar-link-items">
      <a class="custom" [routerLink]="['']">HOME</a>
      <a class="custom" [routerLink]="['/about']">ABOUT</a>
      <a class="custom" [routerLink]="['/portfolio']">PORTFOLIO</a>
      <a [routerLink]="['/service']">SERVICE</a>
      
      <a (click)="showPageDropdown()">
        PAGES
        <nav class="nav">    
        <ul class="dropdown-content" id="dropdown-content">
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/single-blog']">Single Blog</a></li>
          <li><a [routerLink]="['/single-portfolio']">Single Portfolio</a></li>
        </ul>
        </nav>
      </a>
    </div>
  </div>

  <div class="buttons">
     <!-- <button class="mode-button" mat-icon-button>
      <img src="assets/moon.png" width="40px" height="40px">
     </button> -->
     <button class="contact-button" [routerLink]="['/contact']">CONTACT</button>
  </div>
</div>

<div class="navbar-mobile">
    <img src="assets/logo.png" width="50px" height="30px">

    <button class="contact-button"  [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon svgIcon="menu" *ngIf="!menuTrigger.menuOpen"></mat-icon>
      <mat-icon svgIcon="close" *ngIf="menuTrigger.menuOpen"></mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']">HOME</button>
        <button mat-menu-item [routerLink]="['/about']">ABOUT</button>
        <button mat-menu-item [routerLink]="['/portfolio']">PORTFOLIO</button>
        <button mat-menu-item [matMenuTriggerFor]="pages">PAGES</button>
      </mat-menu>
      
      <mat-menu #pages="matMenu">
        <button mat-menu-item [routerLink]="['/blog']">BLOG</button>
        <button mat-menu-item [routerLink]="['/single-blog']">SINGLE BLOG</button>
        <button mat-menu-item [routerLink]="['/single-portfolio']">SINGLE PORTFOLIO</button>
      </mat-menu>
    </button>
</div>



