<div class="navbar">
  <div class="navbar-link"> 
    <div class="logo">
      <img src="assets/logo/logo.png" width="100px" height="100px">
    </div>

    <div class="navbar-link-items">
      <button class="navbar-buttons" [routerLink]="['']">HOME</button>
      <button class="navbar-buttons" [routerLink]="['/about']">ABOUT</button>
      <button class="navbar-buttons" [routerLink]="['/portfolio']">PORTFOLIO</button>
      <button class="navbar-buttons" [routerLink]="['/service']">SERVICE</button>

      <button class="navbar-buttons" [routerLink]="['/pages']">PAGES</button>
    </div>
  </div>

  <div class="buttons">
     <!-- <button class="mode-button" mat-icon-button>
      <img src="assets/moon.png" width="40px" height="40px">
     </button> -->
     <button class="contact-button" [routerLink]="['/contact']">CONTACT</button>
  </div>
</div>

<div class="navbar-mobile">
  <img src="assets/logo/logo.png" width="100px" height="100px">

    <button class="contact-button"  [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon svgIcon="menu" *ngIf="!menuTrigger.menuOpen"></mat-icon>
      <mat-icon svgIcon="close" *ngIf="menuTrigger.menuOpen"></mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']">HOME</button>
        <button mat-menu-item [routerLink]="['/about']">ABOUT</button>
        <button mat-menu-item [routerLink]="['/portfolio']">PORTFOLIO</button>
        <button mat-menu-item [routerLink]="['/service']">SERVICE</button>
        <button mat-menu-item [routerLink]="['/contact']">CONTACT</button>
        <button mat-menu-item [matMenuTriggerFor]="pages">PAGES</button>
      </mat-menu>
      
      <mat-menu #pages="matMenu">
        <button mat-menu-item [routerLink]="['/blog']">BLOG</button>
        <button mat-menu-item [routerLink]="['/single-blog']">SINGLE BLOG</button>
        <button mat-menu-item [routerLink]="['/single-portfolio']">SINGLE PORTFOLIO</button>
      </mat-menu>
    </button>
</div>



