.background {
    display: grid;
    grid-template-columns: auto auto auto auto;
   

    .rectangle {
        height: 22rem;
        background-color: var(--dark-grey-500);
    }

    .rectangle-custom {
        background-color: var(--dark-grey-700);
    }
}


.header {
    position: absolute;
    top: 35vh;
    display: grid;
    overflow: hidden;
    padding: 0px 100px;

    .name {
        display: flex;   
        justify-content: flex-start;  
        width: 100%;

        h1 {
            color: var(--cream-500);
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 30px;
            width: 100%;
        }

        .hero-name-line {
            margin-top: 15px;
            height: 1.5px;
            border: 1.5px solid #E4C8A7;
            width: 140px;
            margin-left: 50px;
        }

        h1 {
            overflow: hidden;
            white-space: nowrap;
            animation: fade-in-right 2s steps(90) 0.5s 1 normal both, cursor 1s step-end infinite;
          }
          
          @keyframes fade-in-right{
            from {
              width: 0;
            }
          
            to {
              width: 11rem;
            }
        }
    }

    h2 {
        width: 75%;
        font-size: 96px;
        font-weight: 400;
        color: var(--white);
        align-content: center;
        padding-bottom: 20px;
        line-height: 120px;
        margin-bottom: 30px;
    }

    @keyframes fade-in-left {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }
      
      .fade-in-left-animation {
        animation: 2.5s fade-in-left;
        //overflow: hidden;
      }
}


@media screen and (max-width: 767px) {

    .background {
        .rectangle {
            height: 13rem;
        }
    }
 
    .header {
        top: 15vh;
        padding: 20px 20px 0px 20px;
    
        .name {
            h1 {
                font-size: 24px;
            }
        }
    
        h2 {
            font-size: 60px;
            line-height: 70px;
            width: 80%;
        }
    }
}

@media screen and (max-width: 376px) {

    .background {
        .rectangle {
            height: 12rem;
        }
    }
 
    .header {
        top: 20vh;
        padding: 0px 20px;
    
        .name {
            h1 {
                font-size: 24px;
            }
        }
    
        h2 {
            font-size: 48px;
            line-height: 60px;
            width: 80%;
        }
    }
}