.skill-level {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  .skill-level-column {
  }

  .skill-level-item {
    margin-bottom: 50px;

    .skill-title {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 24px;
        font-weight: 400;
        color: var(--cream-500);
        margin-bottom: 20px;
      }
    }

    .progress-bar {
      background-color: var(--white);

      .progress {
        background-color: var(--cream-500);
        height: 5px;
      }

      .persantage {
        width: 95%;
      }
    }
  }
}
