.skill-level {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 100px;

  .skill-level-item {
    margin-bottom: 50px;

    .skill-title {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 24px;
        font-weight: 400;
        color: var(--white);
        margin-bottom: 20px;
      }

      &:hover{
        p{
          color: var(--cream-500);
        }
      }
    }

    .progress-bar {
      background-color: var(--white);

      .progress {
        background-color: var(--cream-500);
        height: 5px;
      }

      .persantage {
        width: 95%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .skill-level {
    display: inline-block;
    width: 100%;

    .skill-level-item {
      margin-bottom: 50px;
      margin-top: 20px;
     
      .skill-title {
        display: flex;
        justify-content: space-between;
  
        p {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 20px;
        }
      }
  
      .progress-bar {
        background-color: var(--white);
  
        .progress {
          background-color: var(--cream-500);
          height: 5px;
        }
  
        .persantage {
          width: 95%;
        }
      }
    }
  }
}