.background{
    display: flex;

    .rectangle{
        width: calc(100vw / 4);
        height: calc(100vh / 1.5);
        background-color: var(--hero-section-rectangle);
    }

    .rectangle-custom{
        background-color: var(--background);
    }
}

@media screen and (max-width: 767px) {
    .background{
        .rectangle{
            width: calc(100vw / 2);
            height: calc(100vh / 2);
        }

        .rectangle:nth-child(2){
          display: none;
        }
        .rectangle-custom:nth-child(2){
            display: none;
        }

        .rectangle:nth-child(4){
            display: none;
          }
          .rectangle-custom:nth-child(4){
              display: none;
          }
    }
}