.background{
    display: grid;
    grid-template-columns: auto auto auto auto;

    .rectangle{
        height: 29rem;
        background-color: var(--hero-section-rectangle);
    }

    .rectangle-custom{
        background-color: var(--background);
    }
}

@media screen and (max-width: 1200px) {
    // .background{
    //     .rectangle{
    //         height: calc(100vh / 2);
    //     } 
    // }
}

@media screen and (max-width: 767px) {
    .background{
        .rectangle{
            height: 19rem
        } 
    }
}