.experience-container {
    display: flex;
    justify-content: space-between;
  height: 120;
  padding: 100px;
  background-color: var(--dark-grey-500);

  .description {
    width: 40%;
    padding-top: 200px;
    z-index: 1;
    h3 {
      font-size: 35px;
      font-weight: 400;
      color: var(--cream-500);
      margin-bottom: 40px;
    }

    h1 {
      font-size: 70px;
      color: var(--white);
      margin-bottom: 50px;
      line-height: 80px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      font-weight: 200;
      color: var(--white);
    }
  }

  .timeline-container{
    display: flex;
    //justify-content: space-between;
    width: 55%;

    hr{
      border: 1px dashed var(--white);
    }

    .timeline-dots{
      height: 100%;
      width: 1px;
      border: 1px dashed var(--white);

      mat-icon{
        position: relative;
        left: -12px;
        margin-top: 120px;
        margin-bottom: 150px;
      }
    }

    .timeline{
       display: grid;
       width: 90%;
       gap: 30px;
       margin-left: 20px;
  
      .timeline-item{
         background-color: var(--background);
         padding: 70px;
  
         h4{
          font-size: 24px;
          font-weight: 400;
          color: var(--cream-500);
          margin-bottom: 10px;
         }
  
         p{
          font-size: 18px;
          line-height: 25px;
          font-weight: 200;
          color: var(--white);
         }
  
         p + p{
          margin-top: 20px;
         }
      }
    }
  }
}


@media screen and (max-width: 767px) {
   .experience-container {
    display: block;

  height: 120;
  padding: 50px 20px;

  .description {
    width: 100%;
    padding-top: 0px;

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: var(--cream-500);
      margin-bottom: 40px;
    }

    h1 {
      font-size: 48px;
      color: var(--white);
      margin-bottom: 50px;
      line-height: 60px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      font-weight: 200;
      color: var(--white);
    }
  }

  .timeline-container{
    display: flex;
    margin-top: 40px;
    width: 100%;

    hr{
      border: 1px dashed var(--white);
    }
    .timeline{
      display: grid;
       width: 90%;
       gap: 30px;
  
      .timeline-item{
        background-color: var(--background);
        padding: 20px;
  
         h4{
          font-size: 24px;
          font-weight: 400;
          color: var(--cream-500);
          margin-bottom: 10px;
         }
  
         p{
          font-size: 18px;
          line-height: 20px;
          font-weight: 200;
          color: var(--white);
         }
  
         p + p{
          margin-top: 20px;
         }
      }
    }

  }
}
}