<div class="experience-container">
  <div class="description">
    <h3>EXPERIENCE</h3>
    <h1>Discover My Experience</h1>
    <p>Software Engineer with years of experience designing, developing, and testing software solutions. 
      Proven ability in .NET, Angular to deliver high-quality applications that meet user needs.</p>
  </div>

 <div class="timeline-container">
   <div class="timeline-dots">
    <mat-icon svgIcon="outlined-dot"></mat-icon>
    <mat-icon svgIcon="outlined-dot"></mat-icon>
    <mat-icon svgIcon="outlined-dot"></mat-icon>
   </div>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let experience of experiences">
       <h4>{{ experience.title }}</h4>
       <p>{{ experience.period }}</p>
       <p>{{ experience.description }}</p>
    </div>
  </div>
 </div>
</div>