<div class="about-container">
  <h3>ABOUT ME</h3>
  <h1>Discover Story About Me</h1>

  <div class="content-container">
     <div class="photo-content">
        <img src="assets/images/blog-1.jpg"> 
     </div>

     <div class="description">
        <h4>HI, I AM VASILE BADRAGAN A SOFTWARE ENGINEER</h4>
        <p>Which means I apply engineering principles to design, develop, test, and maintain software applications. 
          My day-to-day work involves translating user needs into technical specifications, writing code, and troubleshooting any errors that arise.  
          I also keep myself updated on the latest advancements and trends in software development to stay on top of the ever-changing tech landscape.</p>

        <div class="domain-skill">
          <div class="domain-skill-item" *ngFor="let skill of skills">
            <mat-icon svgIcon="programmer-laptop"></mat-icon>
            <h4>{{ skill }}</h4>
          </div>
        </div>
     </div>
  </div>
</div>