<div class="about-container">
  <h3>ABOUT ME</h3>
  <h1>Discover Story About Me</h1>

  <div class="content-container">
     <div class="photo-content">

     </div>

     <div class="description">
        <h4>HI, I AM VASILE BADRAGAN A SOFTWARE ENGINEER</h4>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="domain-skill">
          <div class="domain-skill-item">
            <mat-icon svgIcon="programmer-laptop">data</mat-icon>
            <h4>Interaction Design</h4>
          </div>

          <div class="domain-skill-item">
            <mat-icon svgIcon="programmer-laptop">data</mat-icon>
            <h4>Interaction Design</h4>
          </div>

          <div class="domain-skill-item">
            <mat-icon svgIcon="programmer-laptop">data</mat-icon>
            <h4>Interaction Design</h4>
          </div>

          <div class="domain-skill-item">
            <mat-icon svgIcon="programmer-laptop">data</mat-icon>
            <h4>Interaction Design</h4>
          </div>
        </div>
     </div>
  </div>
</div>