.page {
    display: flex;
    flex-direction: column;

    &-navbar {
        
        //z-index: 1;
        //width: 100%;
        //height: 40px;
    }

    &-main {
        //position: absolute;
        //z-index: 0;
        //width: 100%;
       // height: calc(100vh - 102px);
       font-family: var(--kanit-font-family);
    }

    &-footer {
        // width: 100%;
        // height: 40px;
    }
}

.mat-menu-panel{
    background-color: transparent;
  }

  .mat-menu-item{
    color: var(--white);
    padding: 0px;
    line-height: 20px !important;
    height: 25px !important;
}



body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--background);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cream-500);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    //border: 3px solid orange;  /* creates padding around scroll thumb */
  }



@media screen and (min-width: 767px) {
 
    .mat-menu-panel{
        display: none;
      }
}
  

  