<app-page-heading 
    [title]="'contact'" 
    [subtitle]="'Get In Touch With Me'">
</app-page-heading>

<div class="contact">
    <h3>CONTACT ME</h3>
    <h1>Let's Talk About Ideas</h1>

    <div class="contact-fields">
        <div class="contact-details">
           <div class="contact-item">
            <mat-icon svgIcon="phone-icon"></mat-icon>
            <div class="inner-contact-item">
               <p>Phone Number</p>
               <p>+373-67-963-215</p>
            </div>
           </div>

           <div class="contact-item">
            <mat-icon svgIcon="email-icon"></mat-icon>
            <div class="inner-contact-item">
               <p>Email</p>
               <p>myemail&#64;data.com</p>
            </div>
           </div>

           <div class="contact-item">
            <mat-icon svgIcon="address-icon"></mat-icon>
            <div class="inner-contact-item">
               <p>Address</p>
               <p>Chisinau, Moldova</p>
            </div>
           </div>
        </div>

        <form class="contact-form" [formGroup]="contactForm">
            <div class="send-message">
                <div class="name-email-input">
                    <input formControlName="name" matInput placeholder="Your Name" required="">
                    <input formControlName="email" matInput placeholder="Email" required="">
                </div>
                <input formControlName="subject" matInput placeholder="Your Subject" required="">
                <textarea formControlName="message" matInput placeholder="Your Message" required=""></textarea>

                <button [disabled]="contactForm.invalid" matButton (click)="sendMessage()">SEND A MESSAGE</button> 
            </div>
        </form>
    </div>
</div>