.achievement{
    background-color: var(--background);
    text-align: center;
    padding: 200px 100px;

    h3{
        font-size: 35px;
        font-weight: 400;
        color: var(--cream-500);
        margin-bottom: 40px;
    }

    h1{
        font-size: 70px;
        color: var(--white);
        margin-bottom: 60px;
    }

    .achievement-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;

        .achievement-item{
            display: flex;
            justify-content: space-between;
            text-align: left;
            background-color: var(--dark-grey-500);
            padding: 60px 80px; 

            .item-description{
                text-align: left;

                p{
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 200;
                    color: var(--white);
                    margin-bottom: 20px;
                }

                h4{
                    font-size: 24px;
                    font-weight: 400;
                    color: var(--white);
                    margin-bottom: 30px; 
                }

                hr{
                    background-color: var(--body-text-color);
                    height: 1px;
                    width: 25%;
                    margin-bottom: 30px;
                    float: left;
                }

                p:last-child{
                    color: var(--body-text-color);
                    float: left;
                }
            }

            .item-icon{
                display: grid;
                gap: 60px;

                mat-icon{
                    width: 40px;
                    height: 50px;
                }
                mat-icon + mat-icon{
                    width: 50px;
                    height: 50px;
                }
            }

            &:hover{
                .item-description{
                    p{
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: 200;
                        color: var(--cream-500);
                        margin-bottom: 20px;
                    }
    
                    h4{
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--cream-500);
                        margin-bottom: 30px; 
                    }
    
                    hr{
                        color: var(--cream-500);
                        margin-bottom: 30px;
                        width: 50%;
                    }

                    p:last-child{
                        color: var(--white);
                    }
                }
    
                .item-icon{
                    display: grid;
                    gap: 60px;
    
                    mat-icon{
                        width: 40px;
                        height: 50px;
                    }
                    mat-icon + mat-icon{
                        width: 50px;
                        height: 50px;
                    }
                }//TODO: on hover 
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .achievement{
        text-align: center;
        padding: 50px 20px;
    
        h3{
            font-size: 24px;
            margin-bottom: 40px;
        }
    
        h1{
            font-size: 48px;
            margin-bottom: 60px;
        }
    
        .achievement-container{
            display: block;

            .achievement-item{
                display: flex;
                justify-content: space-between;
                text-align: left;
                background-color: var(--dark-grey-500);
                padding: 30px 20px; 
                margin-top: 30px;
    
                .item-description{
                    p{
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: 200;
                        color: var(--white);
                        margin-bottom: 20px;
                    }
    
                    h4{
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--white);
                        margin-bottom: 30px; 
                    }
    
                    hr{
                        color: var(--body-text-color);
                        height: 2px;
                        margin-bottom: 30px;
                    }

                    p:last-child{
                        color: var(--body-text-color);
                    }
                }
    
                .item-icon{
                    display: grid;
                    gap: 60px;
    
                    mat-icon{
                        width: 40px;
                        height: 50px;
                    }
                    mat-icon + mat-icon{
                        width: 50px;
                        height: 50px;
                    }
                }

                &:hover{
                    .item-description{
                        p{
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 200;
                            color: var(--cream-500);
                            margin-bottom: 20px;
                        }
        
                        h4{
                            font-size: 24px;
                            font-weight: 400;
                            color: var(--cream-500);
                            margin-bottom: 30px; 
                        }
        
                        hr{
                            color: var(--cream-500);
                            margin-bottom: 30px;
                            width: 50%;
                        }
    
                        p:last-child{
                            color: var(--white);
                        }
                    }
        
                    .item-icon{
                        display: grid;
                        gap: 60px;
        
                        mat-icon{
                            width: 40px;
                            height: 50px;
                        }
                        mat-icon + mat-icon{
                            width: 50px;
                            height: 50px;
                        }
                    }//TODO: on hover 
            }   }
        }
    } 
}