.achievement{
    background-color: var(--background);
    text-align: center;
    padding: 200px 100px;

    h3{
        font-size: 35px;
        font-weight: 400;
        color: var(--cream-500);
        margin-bottom: 40px;
    }

    h1{
        font-size: 70px;
        color: var(--white);
        margin-bottom: 60px;
    }

    .achievement-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;

        .achievement-item{
            display: flex;
            justify-content: space-between;
            text-align: left;
            height: 266px;
            background-color: var(--dark-grey-500);
            padding: 60px 80px; 

            .item-description{
                p{
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 200;
                    color: var(--cream-500);
                    margin-bottom: 20px;
                }

                h4{
                    font-size: 24px;
                    font-weight: 400;
                    color: var(--cream-500);
                   margin-bottom: 30px; 
                }

                hr{
                    color: var(--cream-500);
                    height: 2px;
                    //width: 50%;
                    margin-bottom: 30px;
                }

                p + p{

                }
            }

            .item-icon{
                display: grid;
                gap: 60px;

                mat-icon{
                    width: 40px;
                    height: 50px;
                }
                mat-icon + mat-icon{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}