<app-page-heading [title]="selectedWork.title" [subtitle]="selectedWork.subtitle">
</app-page-heading>

<div class="container">
    <div class="image-container">
        <img src="{{selectedWork.image}}" alt="img" loading="lazy">
    </div>

    <div class="project-details">
        <div class="project-details-item">
            <p>Client</p>
            <p>Max Jason</p>
        </div>

        <div class="project-details-item">
            <p>Category</p>
            <p>Personal Portfolio</p>
        </div>

        <div class="project-details-item">
            <p>Work Duration</p>
            <p>1 Month</p>
        </div>

        <div class="project-details-item">
            <p>Tools</p>
            <p>Angular</p>
        </div>
    </div>

    <div class="project-about">
        <div class="overview">
            <h1>Overview</h1>
            <p>
                The project features a responsive and user-friendly interface, enabling seamless browsing, product searches, and a smooth checkout process. 
                I implemented key functionalities like secure user authentication, payment gateway integration, and dynamic product listings. 
                The platform is designed to be scalable and optimized for performance, ensuring a fast and efficient shopping experience across devices.
            </p>
            <div class="highlight">
                <div class="highlight-item">
                    <mat-icon svgIcon="radio-button-icon"></mat-icon>
                    <p>SEO-Friendly</p>
                </div>
                <div class="highlight-item">
                    <mat-icon svgIcon="radio-button-icon"></mat-icon>
                    <p>Customizability</p>
                </div>
                <div class="highlight-item">
                    <mat-icon svgIcon="radio-button-icon"></mat-icon>
                    <p>Improved User Experience</p>
                </div>
                <div class="highlight-item">
                    <mat-icon svgIcon="radio-button-icon"></mat-icon>
                    <p>Component-Based Architecture</p>
                </div>
            </div>
        </div>
        <div class="typography">
            <h1>Typography</h1>
            <p>
                Typography in web design is essential for creating a clear, readable, and visually appealing experience for users.
                Choosing the right fonts and font sizes is key to guiding customers through the website.
            </p>
            <div class="typography-inner-container">
                <div class="typography-inner-item">
                    <h3>Aa</h3>
                    <p>Font Family Heading</p>
                    <p>Kanit</p>
                </div>

                <div class="typography-inner-item">
                    <h3>Aa</h3>
                    <p>Font Family Paragraph</p>
                    <p>Hind</p>
                </div>
            </div>
        </div>
    </div>

    <div class="conclusion">
        <h1>Conclusion</h1>
        <p>
            The project demonstrates my ability to build robust, scalable, and intuitive eCommerce solutions with modern web technologies, offering an excellent user experience while meeting business needs.
        </p>
    </div>

    <div class="portfolio-related-work">
        <h3>PORTFOLIO</h3>
        <h2>Related Work</h2>

        <div class="related-work-container">
           @for (relatedWork of relatedWorks; track $index) {
             <div class="related-work-item" (click)="onWorkItemClick(relatedWork.id)">
                <img src="{{relatedWork.image}}" alt="img" loading="lazy">
                <div class="related-work-title">
                    <p>{{relatedWork.title}}</p>
                    <p>{{relatedWork.subtitle}}</p>
                </div>
            </div>
           }
        </div>
    </div>
</div>