@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

// Create the theme
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

// Apply the theme to all Material components
:root {
  @include mat.all-component-themes($my-theme);
}