<div class="skills">
<h3>SKILLS</h3>
<h1>Discover My Skills</h1>

<div class="skill-level">
  <div class="skill-level-item">
    <div class="skill-title">
     <p>.NET</p>
     <p>95%</p>
    </div>

    <div class="progress-bar">
      <div class="progress persantage"></div> 
    </div>
  </div>

  <div class="skill-level-item">
    <div class="skill-title">
     <p>.NET</p>
     <p>95%</p>
    </div>

    <div class="progress-bar">
      <div class="progress persantage"></div> 
    </div>
  </div>

  <div class="skill-level-item">
    <div class="skill-title">
     <p>.NET</p>
     <p>95%</p>
    </div>

    <div class="progress-bar">
      <div class="progress persantage"></div> 
    </div>
  </div>

  <div class="skill-level-item">
    <div class="skill-title">
     <p>.NET</p>
     <p>95%</p>
    </div>

    <div class="progress-bar">
      <div class="progress persantage"></div> 
    </div>
  </div>

  <div class="skill-level-item">
    <div class="skill-title">
     <p>.NET</p>
     <p>95%</p>
    </div>

    <div class="progress-bar">
      <div class="progress persantage"></div> 
    </div>
  </div>
</div>
</div>