<div class="awards">
  <div class="awards-container" #awardContainer>

    
  <ng-container *ngFor="let award of awards; let i = index">
    <div class="award-item" *ngIf="i === currentSlide">
      <h4>{{ award.title }}</h4>
      <p>{{ award.description }}</p>
      <div class="icon-section">
        <mat-icon svgIcon="spark-ornament-icon"></mat-icon>
        <mat-icon svgIcon="magic-wand-icon"></mat-icon>
        <mat-icon svgIcon="spark-ornament-icon"></mat-icon>
      </div>
    </div>
  </ng-container>

    <!-- <div class="award-item">
  <h4>The Art & Design 2022</h4>
  <p>1 st Winner</p>
  <mat-icon svgIcon="spark-ornament-icon"></mat-icon>
  <mat-icon svgIcon="magic-wand-icon"></mat-icon>
  <mat-icon svgIcon="spark-ornament-icon"></mat-icon>
</div> -->
  </div>


  <div class="awards-navigation">
    <button class="slide-button" matButton (click)="goToPrevious(-1)">
      <mat-icon svgIcon="chevron-left"></mat-icon>
      <mat-icon svgIcon="chevron-left"></mat-icon>
      <span>PREVIOUS</span>
    </button>
 
    <div class="progress-bar-container">
     <p>{{ currentSlide + 1 }}</p>
     <mat-progress-bar mode="determinate" value="{{ progress[currentSlide] }}"></mat-progress-bar>
     <p>{{ awards.length }}</p>
    </div>
 
    <button class="slide-button second-slide-button" matButton (click)="goToNext(-1)">
     <span>NEXT</span>
     <mat-icon svgIcon="chevron-right"></mat-icon>
     <mat-icon svgIcon="chevron-right"></mat-icon>
   </button>
  </div>
</div>