.awards{

    .awards-container{
        display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         column-gap: 30px;

        .award-item{
            display: grid;
            padding: 50px 40px 30px 40px;
            row-gap: 10px;

            background-color: var(--dark-grey-500);
            height: 250px; //18vw;

            h4{
                font-size: 24px;
                color: var(--white);
            }

            p{
                color: var(--white);
                font-size: 18px;
                font-weight: 200;
            }

            .icon-section{
                display: flex;
                justify-content: space-between;
                gap: 30px;

                mat-icon{
                   width: 40px;
                   height: 40px;
                   margin-top: 30px;
                   rotate: 90deg;
                }

                mat-icon:nth-child(2){
                    width: 60px;
                    height: 60px;
                    margin-top: 0px;
                    rotate: 0deg;
                }
                
                mat-icon:nth-child(3){
                    rotate: 360deg;
                }
            }
        }
    }


    .awards-navigation{
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        
        .slide-button{
            font-size: 18px;
            color: var(--dark-grey-100);
            background-color: transparent;
            border: none;
            width: 160px;
            height: 40px;
            display: flex;

            mat-icon{
                width: 18px;
                height: 18px;
                margin-left: -10px;
            }

            &:hover{
                color: var(--cream-500);
                cursor: pointer;
            }

            span{
                 margin-left: 15px;
            }
        }

        .second-slide-button{
            span{
                margin-right: 20px;
            }
        }

        .progress-bar-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--white);
            width: 25%; 

            mat-progress-bar{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .awards{

        .awards-container{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
    
            .award-item{
                display: grid;
                padding: 50px 40px 30px 40px;
                row-gap: 10px;
    
                background-color: var(--dark-grey-500);
                height: 250px; //18vw;
    
                h4{
                    font-size: 24px;
                    color: var(--white);
                }
    
                p{
                    color: var(--white);
                    font-size: 18px;
                    font-weight: 200;
                }
    
                .icon-section{
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
    
                    mat-icon{
                       width: 40px;
                       height: 40px;
                       margin-top: 30px;
                       rotate: 90deg;
                    }
    
                    mat-icon:nth-child(2){
                        width: 60px;
                        height: 60px;
                        margin-top: 0px;
                        rotate: 0deg;
                    }
                    
                    mat-icon:nth-child(3){
                        rotate: 360deg;
                    }
                }
            }
        }
    
    
        .awards-navigation{
            padding-top: 60px;
            display: flex;
            justify-content: space-between;
            //row-gap: 20px;
            
            span{
                display: none;
            }
    
            button{
                font-size: 18px;
                color: var(--dark-grey-100);
                background-color: transparent;
                border: none;
                width: 80px;
                height: 40px;
    
                mat-icon{
                  margin-left: -10px;
                  width: 20px;
                  height: 20px;
                }
            }
    
            button:hover{
                border-radius: none;
                background-color: transparent;
            }
    
            .progress-bar-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;

                mat-progress-bar{
                    margin: 0px 10px;
                }
            }
        }
    }
}

.show{
    display: none;
}

.block{
    display: block;
}