<div class="testimonial">
  <h1>TESTIMONIAL</h1>
  <h2>Clients Feedback</h2>

  <div class="testimonial-card">
      <div class="image"></div>
      <img class="sparks" src="assets/sparks-ornament.png" width="60px" height="60px">
      <div class="details">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1800s
        </p>
        <div class="pearson">
          <div class="name">
            <p>Daniel Manson</p>
            <p>Founder at CM Corp</p>
          </div>

          <div class="vertical-line"></div>

          <div class="rating">
           <img src="assets/star.png" width="22.66px" height="19.66px">
           <img src="assets/star.png" width="22.66px" height="19.66px">
           <img src="assets/star.png" width="22.66px" height="19.66px">
           <img src="assets/star.png" width="22.66px" height="19.66px">
           <img src="assets/star.png" width="22.66px" height="19.66px">
           <p>5.0/5.0</p>
         </div>
        </div>
      </div>
  </div>

  <div class="testimonial-navigation">
   <button matButton>
     <img src="assets/chevron-left.svg">
     <img src="assets/chevron-left.svg">
    <span>PREVIOUS</span> </button>

   <div class="progress-bar-container">
    <p>01</p>
    <div class="progress-bar">
      <div class="progress html"></div> 
    </div>
    <p>04</p>
   </div>

   <button matButton>
     <span>NEXT </span>
     <img src="assets/chevron-rigth.svg">
     <img src="assets/chevron-rigth.svg">
  </button>
 </div>
</div>
