.testimonial{
    background-color: var(--dark-grey-500);
    padding: 100px 200px;
    text-align: center;

    h1{
        font-size: 32px;
        font-weight: 400;
        color: var(--cream-500);
        padding-bottom: 30px;
    }

    h2{
        font-size: 64px;
        color: var(--white);
        padding-bottom: 80px;
    }
    .testimonial-card-mobile{
        display: none;
    }

    .testimonial-card{
        display: flex;
        width: 100%;
        height: 305px;
        background-color: var(--background);
        position: relative;

        .image{
            width: 480px;
            min-width: 200px;
            height: 350px;
            margin-left: 100px;
            position: relative;
            bottom: 15%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .sparks{
            position: relative;
            left: -25px;
            top: 230px;
        }

        .details{
            padding: 50px;
            overflow: hidden;
            
            p{
                font-size: 18px;
                font-weight: 200;
                text-align: left;
                line-height: 32px;
                color: var(--white);
            }


            .pearson{
                margin-top: 30px;
                text-align: left;
                display: flex;
                flex-direction: row;

                .name{
                  display: inline-block;
                  text-align: left;
                  margin-right: 50px;

                  p{
                    font-size: 24px;
                    font-weight: 400;
                    color: var(--cream-500);
                  }

                  p ~ p{
                    font-size: 16px;
                    font-weight: 200;
                    margin-top: 5px;
                    color: var(--white);
                  }
                }

                .vertical-line{
                    width: 1px;
                    height: 65px;
                    border-right: 1px solid var(--white);
                    margin-top: 2px;
                }

                
                .rating{
                    display: inline-block;
                    text-align: left;
                    margin-left: 50px;

                    img{
                        margin-right: 5px;
                    }

                    p{
                        margin-top: 10px;
                    }

                    p ~ p{
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .testimonial-navigation{
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        

        .slide-button{
            display: flex;
            font-size: 18px;
            color: var(--dark-grey-100);
            background-color: transparent;
            border: none;
            height: 40px;
            justify-content: center;

            span{
               margin-left: 10px;
              }
  
              mat-icon{
                  margin-left: -10px;
                  width: 18px;
                  height: 18px;
              }

              &:hover{       
                cursor: pointer;   
                color: var(--cream-500); 
                
                mat-icon{
                    fill: var(--cream-500);
                }
              }
        }

        .second-slide-button{
            align-content: center;

            span{
                margin-right: 20px;
            }
        }

        .progress-bar-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--white);
            width: 30%; 

            mat-progress-bar{
                margin: 0px 10px;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .testimonial{
        background-color: var(--dark-grey-500);
        padding: 50px 20px;
        text-align: center;
    
        h1{
            font-size: 24px;
            padding-bottom: 30px;
        }
    
        h2{
            font-size: 48;
            padding-bottom: 40px;
        }
    
        .testimonial-card{
            display: none;
        }

        .testimonial-card-mobile{
            display: grid;
            grid-row: 30px;

            p{
                color: var(--white);
                font-size: 14px;
                font-weight: 200;
                line-height: 20px;
                text-align: left;
            }

            .hero-details{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                .hero-photo{
                    display: flex;
                    align-content: center;

                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        margin-right: 30px;
                    }

                    .hero-name{
                        text-align: left;

                        h5{
                            font-size: 18px;
                            color: var(--cream-500);
                        }
    
                        p{
                           font-size: 12px;
                           font-weight: 200;
                           color: var(--white);
                        }

                        .rating{
                            margin-top: 10px;
                            text-align: left;
                            
                            img{
                                margin-right: 5px;
                                width: 15px;
                                height: 15px;
                            }
                        }

                    }
                }
            }
        }
    
        .testimonial-navigation{
            padding: 50px 10px 0px 10px;
            display: flex;
            justify-content: space-between;
            
    
            button{
                align-items: center;
                font-size: 18px;
                background-color: transparent;
                border: none;
                width: auto;
                height: 40px;

                span{
                    display: none;
                }
    
            }
    
            button:hover{
                border-radius: 0px;
                background-color: transparent;
            }
    
            .progress-bar-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%; 
                
                p{
                    font-weight: 200;
                }

                .progress-bar{
                    background-color: var(--white); 
                    height: 3px;
                    width: 80%;
                    margin: 0px 10px;
        
                    .progress{
                        background-color: var(--cream-500); 
                        padding: 0%; 
                        text-align: right; 
                        font-size: 20px; 
                        height: 3px;
                    }
        
                    .html { 
                        width: 25%; 
                    } 
                }
            }
        }
    }
}