<div class="testimonial">
  <h1>TESTIMONIAL</h1>
  <h2>Clients Feedback</h2>

  <ng-container *ngFor="let testimonial of testimonials; let index = index">
    <div class="testimonial-card" *ngIf="index === currentSlide">
      <div class="image">
        <img src="{{ testimonial.image }}" alt="img" loading="lazy">
      </div>
      <mat-icon class="sparks" svgIcon="spark-ornament"></mat-icon>
      <div class="details">
        <p>{{ testimonial.description }}</p>
        <div class="pearson">
          <div class="name">
            <p>{{ testimonial.name }}</p>
            <p>{{ testimonial.position }}</p>
          </div>

          <div class="vertical-line"></div>

          <div class="rating">
            <mat-icon svgIcon="star" *ngFor="let star of stars"></mat-icon>
           <p>5.0/5.0</p>
         </div>
        </div>
      </div>
  </div>
  </ng-container>

  <ng-container *ngFor="let testimonial of testimonials; let index = index">
    <div class="testimonial-card-mobile" *ngIf="index === currentSlide">
      <p>{{ testimonial.description }}</p>
  
        <div class="hero-details">
         <div class="hero-photo">
           <img src="{{ testimonial.image }}" alt="img" loading="lazy">
           <div class="hero-name">
            <h5>{{ testimonial.name }}</h5>
            <p>{{ testimonial.position }}</p>
  
            <div class="rating">
              <mat-icon svgIcon="star" *ngFor="let star of stars"></mat-icon>
              <p>5.0/5.0</p>
             </div>
           </div>
         </div>
        </div>
    </div>
  </ng-container>

  <div class="testimonial-navigation">
   <button class="slide-button" matButton (click)="goToPrevious(-1)">
     <mat-icon svgIcon="chevron-left" *ngFor="let arrow of arrows"></mat-icon>
     <span>PREVIOUS</span>
   </button>

   <div class="progress-bar-container">
    <p>{{ currentSlide + 1 }}</p>
    <mat-progress-bar mode="determinate" value="{{ progress[currentSlide] }}"></mat-progress-bar>
    <p>{{ testimonials.length }}</p>
   </div>

   <button class="slide-button second-slide-button" matButton (click)="goToNext(-1)">
    <span>NEXT</span>
    <mat-icon svgIcon="chevron-right" *ngFor="let arrow of arrows"></mat-icon>
  </button>
 </div>
</div>
