<!-- <div class="hero-social-media">
  <p>FOLLOW ME ------</p>
  <div class="social-media-icon">
    <mat-icon svgIcon="linkedin"></mat-icon>
    <mat-icon svgIcon="facebook"></mat-icon>
    <mat-icon svgIcon="pinterest"></mat-icon>
    <mat-icon svgIcon="tiktok"></mat-icon>
  </div>
</div> -->

<div class="hero-statistic" #statistic>
  <div class="hero-statistic-item">
    <h1>{{ projectCopiled }} K</h1>
    <p>Projects Complited</p>
   </div>

  <div class="hero-statistic-item">
    <h1>{{ experience }}+</h1>
    <p>Years of Experience</p>
  </div>

  <div class="hero-statistic-item">
    <h1>{{ awards }}+</h1>
    <p>Awards Achievement</p>
  </div>
</div>  