<div class="education">
  <div class="timeline">
    <div class="timeline-item-container">
      <div class="timeline-item">
        <h4>{{ educations[0].title }}</h4>
        <p>{{ educations[0].period }}</p>
        <p>{{ educations[0].description }}</p>
     </div>
     <div class="timeline-item">
       <h4>{{ educations[1].title }}</h4>
       <p>{{ educations[1].period }}</p>
       <p>{{ educations[1].description }}</p>
    </div>
    </div>

   <hr>

  <div class="timeline-item-container">
    <div class="timeline-item">
      <h4>{{ educations[2].title }}</h4>
      <p>{{ educations[2].period }}</p>
      <p>{{ educations[2].description }}</p>
     </div>
     <div class="timeline-item">
      <h4>{{ educations[3].title }}</h4>
      <p>{{ educations[3].period }}</p>
      <p>{{ educations[3].description }}</p>
     </div>
  </div>
</div>