<div class="portfolio">
  <h1>PORTFOLIO</h1>
  <h2>My Selected Work</h2>

  <div class="work">

    <div class="work-row">
      <div class="work-item">
        <img src="assets/images/ecommerce.jpg"> 
        <div class="inner-work-item custom-inner-work-item">
           <h3>Electronics eCommerce</h3>
           <p>Web Development</p>
        </div>
      </div>
      <div class="work-item">
        <img src="assets/images/work-1.jpg">
        <div class="inner-work-item">
          <h3>Electronics eCommerce</h3>
          <p>Web Development</p>
       </div>
      </div>
      <div class="work-item">
        <img src="assets/images/work-2.jpg">
        <div class="inner-work-item">
          <h3>Electronics eCommerce</h3>
          <p>Web Development</p>
       </div>
      </div>
    </div>

   
    <div class="work-row">
      <div class="work-item">
        <img src="assets/images/work-3.jpg">
        <div class="inner-work-item">
          <h3>Electronics eCommerce</h3>
          <p>Web Development</p>
       </div>
      </div>
      <div class="work-item">
        <img src="assets/images/work-4.jpg">
        <div class="inner-work-item">
          <h3>Electronics eCommerce</h3>
          <p>Web Development</p>
       </div>
      </div>
      <div class="work-item custom">
        <img src="assets/images/work-5.jpg">
        <div class="inner-work-item custom-inner-work-item">
          <h3>Electronics eCommerce</h3>
          <p>Web Development</p>
       </div>
      </div>
    </div>
  </div>
</div>
