<div class="portfolio">
  <h1>PORTFOLIO</h1>
  <h2>My Selected Work</h2>

  <div class="work">

    <div class="work-row">
      <div class="work-item" 
       (click)="onWorkItemClick(portfolioWork.id)" 
       *ngFor="let portfolioWork of portfolioWorksFirstRow">

        <img src="{{portfolioWork.image}}" alt="img" loading="lazy"> 
        <div class="inner-work-item">
           <h3>{{portfolioWork.title}}</h3>
           <p>{{portfolioWork.subtitle}}</p>
        </div>
      </div>
    </div>
   
    <div class="work-row">
      <div class="work-item" 
      (click)="onWorkItemClick(portfolioWork.id)" 
      *ngFor="let portfolioWork of portfolioWorksSecondRow">
      
        <img src="{{portfolioWork.image}}" alt="img" loading="lazy">
        <div class="inner-work-item">
          <h3>{{portfolioWork.title}}</h3>
          <p>{{portfolioWork.subtitle}}</p>
       </div>
      </div>
    </div>
  </div>
</div>
