<app-page-heading 
    [title]="'portfolio'" 
    [subtitle]="'Explore My Feature Work'">
</app-page-heading>

<div class="portfolio">
  <h1>PORTFOLIO</h1>
  <h2>My Selected Work</h2>

  <div class="resume-navbar">
    <button matButton (click)="getSelectedWorkList('all')">VIEW ALL</button>
    <button matButton (click)="getSelectedWorkList('creative')">CREATIVE</button>
    <button matButton (click)="getSelectedWorkList('development')">DEVELOPMENT</button>
    <button matButton (click)="getSelectedWorkList('branding')">BRANDING</button>
    <button matButton (click)="getSelectedWorkList('webdesign')">WEB DESIGN</button>
  </div>

  <div class="resume-navbar-mobile">
    <button matButton (click)="previuosSection()">
      <mat-icon svgIcon="chevron-left"></mat-icon>
      <mat-icon svgIcon="chevron-left"></mat-icon>
    </button>

      <p>{{ sections[index] }}</p>

      <button matButton (click)="nextSection()">
        <mat-icon svgIcon="chevron-right"></mat-icon>
        <mat-icon svgIcon="chevron-right"></mat-icon>
      </button>
  </div>

  <div class="work">
    <div class="work-item" *ngFor="let work of loadSection()" (click)="onWorkItemClick(work.id)">
       <div class="inner-work-item">
        <img src="{{ work.image }}">
          <button>
            <mat-icon svgIcon="arrow-basic-right"></mat-icon>
          </button>
       </div>
       <h3>{{ work.title }}</h3>
       <p>{{ work.subtitle }}</p>
    </div>
  </div>
</div>
