.portfolio {
  background-color: var(--background);
  padding: 200px 100px;
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: 400;
    color: var(--cream-500);
  }

  h2 {
    font-size: 64px;
    color: var(--white);
    margin-top: 40px;
  }

  .resume-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0% 26%;

    a {
      text-decoration: none;
      color: var(--dark-grey-100);
      margin-left: 10px;
      font-weight: 200;
    }

    a:nth-child(1) {
      //TODO: change colore on selected menu
      color: var(--cream-500);
    }
  }

  .resume-navbar-mobile{
    display: none;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 20px;
    
    p{
      color: var(--cream-500);
    }

    button{
      background-color: transparent;
      border: none;

      mat-icon{
        margin-right: -15px;
        height: 20px;
      }
    }
  }

  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 50px;
    margin-top: 60px;

    .work-item{
        display: block;
        height: 445px;

        .inner-work-item{
            height: 80%;

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            button{
                display: none;
                width: 50px;
                height: 50px;
                background-color: transparent;
                margin-top: 150px;
                margin-left: 30px;
                border-radius: 25px;
                border: none;
                outline: 1px solid white;
            }
        }

        h3{
          margin-top: 30px;
          color: var(--white);
          font-size: 26px;
          font-weight: 400;
        }

        p{
            color: var(--body-text-color);
            font-size: 16px;
            font-weight: 200;
            margin-top: 10px;
        }
    }

    .work-item:hover{

        .inner-work-item{
            background-color: rgb(150, 149, 149);
            button{
                display: inline;   
            }
        }

        p{
            color: var(--cream-500)
        }

    }
  }
}


@media screen and (max-width: 767px) {
  .portfolio {
    padding: 50px 20px;
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 48px;
      color: var(--white);
      margin-top: 40px;
    }
  
    .resume-navbar {
      display: none;
      justify-content: space-between;
      margin-top: 40px;
      padding: 0% 26%;
  
      a {
        text-decoration: none;
        color: var(--dark-grey-100);
        margin-left: 10px;
        font-weight: 200;
      }
  
      a:nth-child(1) {
        //TODO: change colore on selected menu
        color: var(--cream-500);
      }
    }

    .resume-navbar-mobile{
      display: flex;

      button{

      }
    }
  
    .work {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 0px;
      margin-top: 60px;
  
      .work-item{
          display: block;
          
          height: 375px;
  
          .inner-work-item{
              height: 60%;
              background-color: rgb(222, 217, 217);   

              button{
                display: none;
              }
          }
  
          h3{
            margin-top: 20px;
          }
  
          p{

          }
      }
  
      .work-item:hover{
  
          .inner-work-item{
              background-color: rgb(150, 149, 149);
              button{
                  display: inline;   
              }
          }
  
          p{
              color: var(--cream-500)
          }
  
      }
    }
  }
  
}