<div class="portfolio">
  <h1>PORTFOLIO</h1>
  <h2>My Selected Work</h2>

  <div class="work">
    <div class="work-item-1 custom">
      <div class="inner-work-item custom-inner-work-item">
         <h3>Electronics eCommerce</h3>
         <p>Web Development</p>
      </div>
    </div>
    <div class="work-item-2">
      <div class="inner-work-item">
        <h3>Electronics eCommerce</h3>
        <p>Web Development</p>
     </div>
    </div>
    <div class="work-item-3">
      <div class="inner-work-item">
        <h3>Electronics eCommerce</h3>
        <p>Web Development</p>
     </div>
    </div>
    <div class="work-item-4">
      <div class="inner-work-item">
        <h3>Electronics eCommerce</h3>
        <p>Web Development</p>
     </div>
    </div>
    <div class="work-item-5">
      <div class="inner-work-item">
        <h3>Electronics eCommerce</h3>
        <p>Web Development</p>
     </div>
    </div>
    <div class="work-item-6 custom">
      <div class="inner-work-item custom-inner-work-item">
        <h3>Electronics eCommerce</h3>
        <p>Web Development</p>
     </div>
    </div>
  </div>
</div>
