<div class="background">
  <div class="rectangle">
  </div>

  <div class="rectangle rectangle-custom">
  </div>

  <div class="rectangle">
  </div>

  <div class="rectangle rectangle-custom">
  </div>
</div>

<div class="background">
  <div class="rectangle rectangle-custom">
  </div>

  <div class="rectangle">
  </div>

  <div class="rectangle rectangle-custom">
  </div>
  
  <div class="rectangle">
  </div>
</div> 



<div class="not-found">
  <div class="status">
    <h1>404</h1>

    <mat-icon svgIcon="spark-ornament-icon"></mat-icon>
    <mat-icon svgIcon="spark-ornament-icon"></mat-icon>

    <div class="not-found-cross">
       <p>NOT FOUND</p>
       <p>NOT FOUND</p>
       <p>NOT FOUND</p>
    </div>

    <div class="not-found-cross">
      <p>NOT FOUND</p>
      <p>NOT FOUND</p>
      <p>NOT FOUND</p>
   </div>
  </div>

  <div class="description">
     <div class="description-header">
       <hr>
       <h4>UH-OH SEEM LIKE YOU GET LOST</h4>
       <hr>
     </div>
     <p>Sorry, We Couldn't Find The Page Yoe Were Looking For.</p>
     <p>Let's Go Back</p>
     <button matButton>
      <span>GO BACK</span>
      <mat-icon svgIcon="button-arrow-right"></mat-icon>
    </button>
  </div>
</div>