.background {
  display: flex;

  .rectangle {
    width: calc(100vw / 4);
    height: calc(100vh/ 1.3);
    background-color: var(--hero-section-rectangle);
  }

  .rectangle-custom {
    background-color: var(--background);
  }
}

.not-found {
  position: absolute;
  top: 150px;
  height: 80vh;
  text-align: center;
  align-items: center;
  width: 100%;

  .status {
    h1 {
      font-size: 32vw;
      color: white;
      letter-spacing: 3vw;
    }

    mat-icon {
      position: absolute;
      top: 22.5vw;
      right: 16vw;
      width: 5vw;
      height: 5vw;
      rotate: 90deg;
    }

    mat-icon + mat-icon {
      top: 23vw;
      left: 13vw;
      rotate: 360deg;
    }

    .not-found-cross {
      position: absolute;
      top: 16vw;
      left: 37vw;
      display: flex;
      gap: 1.2vw;
      background-color: var(--dark-grey-500);
      padding: 1vw 1.4vw;
      rotate: -25deg;

      p {
        color: var(--white);
        font-weight: 200;
        font-size: 1vw;
      }
    }

    .not-found-cross + .not-found-cross {
      rotate: 25deg;
    }
  }

  .description {
    text-align: center;
    width: 100%;
    padding: 0px 18vw;

    .description-header {
      display: flex;
      justify-content: space-between;
      color: var(--cream-500);
      margin-bottom: 3vw;

      hr {
        color: var(--cream-500);
        width: 20%;
        height: 0.1vw;
        background-color: var(--cream-500);
      }

      h4 {
        color: var(--cream-500);
        font-size: 2vw;
      }
    }

    p {
      color: var(--white);
      font-size: 1.5vw;
      font-weight: 200;
    }

    p + p {
      margin-top: 0.7vw;
      margin-bottom: 5vw;
    }

    button {
      padding: 10px 25px;
      max-height: 51px;
      border-radius: 25px;
      outline: 1px solid var(--cream-500);
      outline-offset: 0.1vw;
      background-image: linear-gradient(
        to right,
        var(--cream-500),
        var(--cream-100)
      );
      color: var(--cream-700);
      font-size: 1.3vw;

      span{
        //margin-left: 10px;
      }

      mat-icon{
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
