<div class="resume-container">
    <div class="resume-content">
      <div class="resume-photo-section">
         <div class="photo">
           <img src="assets/images/about-me.jpg" alt="img" loading="lazy">
         </div>
         <div class="details">
            <h1>HI, I AM VASILE BADRAGAN A SOFTWARE ENGINEER</h1>
            <p>
              Skilled in analyzing user needs and designing, developing, and testing software applications. 
              Adept at various programming languages and works effectively within a team to deliver high-quality, efficient software. 
              Eager to learn and stay up-to-date with the latest advancements in the field.
            </p>
            <div class="contact">
              <div class="first-column">
                <p>Name</p>
                <p>Nationality</p>
                <p>Experience</p>
                <p>Phone</p>
                <p>Languages</p>
                <p>Email</p>
              </div>
              <div class="second-column">
                <p>:Vasile Badragan</p>
                <p>:Moldavien</p>
                <p>:5+ Years</p>
                <p>:+373 76 775 951</p>
                <p>:English, Russian, Italian</p>
                <p>:vb.development@dev.com</p>
              </div>
            </div>
  
            <div class="work-progress-button">
              <button>MY WORK PROGRESS 
                <img src="assets/play-grey.png" alt="img" loading="lazy">
              </button>
            </div>
         </div>
      </div>
    </div>
  </div>
  