.resume-container{
    background-color: var(--background);
 
    .resume-content{
        .resume-photo-section{
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            height: 600px;

            .photo{
                width: 405px;
                height: 526px;
                background-color: var(--white);
                margin-left: 100px;  
            
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .details{
                margin-left: 120px;
                width: 50%;
                text-align: left;       

                h1{
                    font-size: 20px;
                    font-weight: 200;
                    color: var(--cream-500);
                }

                p{
                    padding-top: 20px;
                    font-weight: 200;
                    line-height: 25px;
                    color: var(--white);
                }

                span{
                    padding-left: 20px;
                }

                .contact{
                    padding-top: 20px;
                    color: var(--white);
                    text-align: left;
                    padding-left: 5px;
                    display: inline-flex;
                    gap: 40px;
                }

                .work-progress-button{
                    margin-top: 70px;
                    align-content: center; 
                   
                    button{
                        cursor: pointer;
                        border-radius: 35px;
                        outline: 1px solid var(--grey);
                        outline-offset: 3px;
                        height: 61px;
                        width: 256px;
                        color: var(--cream-700);
                        font-family: var(--kanit-font-family);
                        font-size: 18px;
                        font-weight: 300;
                        text-align: center;
                        color: var(--grey);
                        background-color: var(--dark-grey-100);
                    }
            
                    button:hover{
                        background-color: var(--button-hover);
                    }

                    img{
                        width: 20px;
                        height: 25px;
                        margin-left: 15px;
                        margin-bottom: -6px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .resume-container{
        margin-top: 30px;
        
        .resume-content{
            .resume-photo-section{
                display: flex;
                flex-direction: column;
                height: auto;
                width: auto;
                
    
                .photo{
                    height: auto;
                    width: auto;
                    margin-left: 0px;
                    margin-bottom: 30px;
                    padding-bottom: 0px;
                    background-color: transparent;
                }
    
                .details{
                    margin-left: 0px;
                    width: 100%;
                    text-align: left;       

    
                    .work-progress-button{
                        margin-top: 40px;
                        align-content: center; 
                       
                        button{
                            height: 41px;
                            width: 200px;
                            font-size: 14px; 
                        }
    
                        img{
                            width: 10px;
                            height: 15px;
                            margin-left: 10px;
                            margin-bottom: -2px;
                        }
                    }
                }
            }
        }
    }
}