<div class="footer">
<div class="footer-heading">
  <div class="footer-heading-left">
    <h1>Let's Make Something Amazing Together</h1>
    <input 
      type="email" 
      matInput
      placeholder="Your Email Adress">
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon svgIcon="arrow-right"></mat-icon>
      </button>
  </div>

  <div class="footer-heading-right">
    <div class="social-media">
      <div class="circle">
        <mat-icon svgIcon="facebook"></mat-icon>
      </div>
      <div class="circle">
        <mat-icon svgIcon="instagram"></mat-icon>
      </div>
      <div class="circle">
        <mat-icon svgIcon="pinterest"></mat-icon>
      </div>
      <div class="circle">
        <mat-icon svgIcon="tiktok"></mat-icon>
      </div>
      <div class="circle">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </div>
    </div>
    
    <h1>STAY CONNECTED</h1>

    <span><mat-icon svgIcon="address-icon"></mat-icon> Chisinau, Moldova</span>
    <span><mat-icon svgIcon="phone-icon"></mat-icon>+373-695-63326</span>
    <span><mat-icon svgIcon="email-icon"></mat-icon> best.developer@dev.com</span>
  </div>
</div>

<hr>

<div class="footer-link">
  <p>2025 Copyright. All Rights Reserved</p>

  <div class="footer-policy">
   <p>Privacy Policy</p>
   <p>Term of Use</p>
  </div>
</div>
</div>

