.service {
  background-color: var(--background);
  padding: 200px 100px;

  h1 {
    font-size: 32px;
    font-weight: 400;
    color: var(--cream-500);
  }

  h2 {
    font-size: 64px;
    color: var(--white);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .expertise-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;

    .expertise-area-item {
      background-color: var(--dark-grey-500);
      padding: 50px 100px;

      .item-count {
        display: flex;
        justify-content: space-between;

        h1 {
          color: var(--white);
          text-align: start;
          font-size: 18px;
          font-weight: 300;
        }

        mat-icon {
          color: var(--white);
          width: 50px;
          height: 50px;
        }
      }

      h1 {
        color: var(--white);
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 24px;
      }

      p {
        color: var(--white);
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
      }

      .work-process-tools-dividion {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .work-process {
          line-height: 40px;

          h3 {
            color: var(--white);
          }

          .work-process-item {
            display: flex;
            align-items: center;
            gap: 20px;

            mat-icon {
              width: 20px;
            }

            p {
              line-height: 40px;
            }
          }
        }

        .tools {
          line-height: 40px;
          h3 {
            color: var(--white);
          }

          .work-process-item {
            display: flex;
            align-items: center;
            gap: 20px;

            mat-icon {
              width: 20px;
            }

            p {
              line-height: 40px;
            }
          }
        }
      }
    }

    .expertise-area-item:hover{
      .item-count {
        h1 {
          color: var(--cream-500);
        }

        mat-icon {
          color: var(--cream-500);
        }
      }

      h1 {
        color: var(--cream-500);
      }

      .work-process-tools-dividion {
        .work-process {
          h3 {
            color: var(--cream-500);
          }
        } 

        .tools {
          h3 {
            color: var(--cream-500);
          }
        }
      }     
    }

    .expertise-area-item-photo {
      padding: 0px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .service {
    padding: 50px 20px;

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 48px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 5px;
    }

    .expertise-area {
      display: block;

      .expertise-area-item {
        height: 450px;
        padding: 20px;
        margin-top: 20px;

        .item-count {
          display: flex;
          justify-content: space-between;

          h1 {
           // color: var(--cream-500);
            text-align: start;
            font-size: 18px;
            font-weight: 300;
          }

          mat-icon {
            //color: var(--cream-500);
            width: 50px;
            height: 50px;
          }
        }

        h1 {
          //color: var(--cream-500);
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: 24px;
        }

        p {
          //color: var(--white);
          font-size: 18px;
          font-weight: 200;
          line-height: 30px;
        }

        .work-process-tools-dividion {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .work-process {
            line-height: 40px;

            .work-process-item {
              display: flex;
              align-items: center;
              gap: 20px;

              mat-icon {
                width: 20px;
              }

              p {
                line-height: 40px;
              }
            }
          }

          .tools {
            line-height: 40px;
            .work-process-item {
              display: flex;
              align-items: center;
              gap: 20px;

              mat-icon {
                width: 20px;
              }

              p {
                line-height: 40px;
              }
            }
          }
        }
      }

      .expertise-area-item-photo {
        padding: 0px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px)  {
  .service {
 
    .expertise-area {
      display: block;

      .expertise-area-item{
        margin-top: 30px;
      }
    }
  }
}
