<app-page-heading 
    [title]="'service'" 
    [subtitle]="'Explore My Covering Areas'">
</app-page-heading>

<div class="service">
  <h1>SERVICE</h1>
  <h2>My Expertise Area</h2>

  <div class="expertise-area">
    <div class="expertise-area-item expertise-area-item-photo">
      <img src="assets/images/frontend-service.jpg">
    </div>

    <div class="expertise-area-item">
      <div class="item-count">
        <h1>01</h1>
        <mat-icon svgIcon="programmer-laptop">data</mat-icon>
      </div>
      <h1>Frontend Development</h1>
      <p>Bringing websites and applications to life through front-end development</p>

      <div class="work-process-tools-dividion">
        <div class="work-process">
           <h3>Work Process</h3>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Requirements</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Analisys</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Designing</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Implementation</p>
           </div>
        </div>

        <div class="tools">
          <h3>Tools</h3>
          <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Angular</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>TypeScript</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Kendo</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Figma</p>
           </div>
        </div>
      </div>
    </div>


    <div class="expertise-area-item">
      <div class="item-count">
        <h1>02</h1>
        <mat-icon svgIcon="programmer-laptop"></mat-icon>
      </div>
      <h1>Backend Development</h1>
      <div class="line"></div>
      <p>I build the behind-the-scenes logic for web applications, ensuring smooth data flow and functionality</p>

      <div class="work-process-tools-dividion">
        <div class="work-process">
           <h3>Work Process</h3>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Requirements</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Analisys</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Architecting</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Coding</p>
           </div>
        </div>

        <div class="tools">
          <h3>Tools</h3>
          <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>.NET</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>C#</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>EntityFramework</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>SQL Server</p>
           </div>
        </div>
      </div>
    </div>

    <div class="expertise-area-item expertise-area-item-photo">
      <img src="assets/images/backend-service.jpg">
    </div>

    <div class="expertise-area-item expertise-area-item-photo">
      <img src="assets/images/mobile-service.jpg">
    </div>

    <div class="expertise-area-item">
      <div class="item-count">
        <h1>03</h1>
        <mat-icon svgIcon="programmer-laptop"></mat-icon>
      </div>
      <h1>Mobile Development</h1>
      <div class="line"></div>
      <p>Crafting software applications specifically designed for smartphones and tablets</p>

      <div class="work-process-tools-dividion">
        <div class="work-process">
           <h3>Work Process</h3>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Requirement</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Analisys</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Designing</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Development</p>
           </div>
        </div>

        <div class="tools">
          <h3>Tools</h3>
          <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Flutter</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Xamarin</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Kendo</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>TypeScript/p>
           </div>
        </div>
      </div>
    </div>
    
 
    <div class="expertise-area-item">
      <div class="item-count">
        <h1>04</h1>
        <mat-icon svgIcon="programmer-laptop">data</mat-icon>
      </div>
      <h1>CI/CD</h1>
      <div class="line"></div>
      <p>Automates building, testing, and deploying code for frequent, reliable releases</p>

      <div class="work-process-tools-dividion">
        <div class="work-process">
           <h3>Work Process</h3>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Requirements</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Analisys</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Architecting</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Implementation</p>
           </div>
        </div>

        <div class="tools">
          <h3>Tools</h3>
          <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Jenkins</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Docker</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Kubernetes</p>
           </div>
           <div class="work-process-item">
            <mat-icon svgIcon="radio-button-icon"></mat-icon>
            <p>Azure DevOps</p>
           </div>
        </div>
      </div>
    </div>
    <div class="expertise-area-item expertise-area-item-photo">
      <img src="assets/images/cicd-service.jpg">
    </div>
  </div>
</div>