<div class="home-page"> 
   <app-hero-section></app-hero-section> 
    
    <div #statistic>
        <app-statistic></app-statistic>
    </div>
  
    <div #resumeSection>
        <app-resume-section></app-resume-section>
    </div>

    <div #portfolioSection>
        <app-portfolio-section></app-portfolio-section>
    </div>

    <div #serviceSection>
        <app-service-section></app-service-section>
    </div>

    <div #testimonialSection>
        <app-testimonial-section></app-testimonial-section>
    </div>

    <div #blogSection>
        <app-blog-section></app-blog-section>
    </div>
</div>
