.hero-section {
  .description {
    padding-left: 100px;
    position: absolute;
    top: 200px;
    z-index: 1;
    overflow: hidden;

    .name {
      display: flex;
      align-content: center;
      width: 60%;
      color: var(--cream-500);
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 30px;

      h1 {
        overflow: hidden;
        white-space: nowrap;
        animation: type 2s steps(90) 0.5s 1 normal both, cursor 1s step-end infinite;
      }

      @keyframes type {
        from {
          width: 0;
        }

        to {
          width: 25rem;
        }
      }

      .hero-name-line {
        margin-top: 16px;
        height: 1.5px;
        border: 1.5px solid var(--cream-500);
        width: 120px;
        margin-left: 30px;
      }
    }

    .title {
      width: 75%;
      font-size: 6.8rem;
      font-weight: 400;
      color: var(--white);
      align-content: center;
      padding-bottom: 20px;
      line-height: 120px;
      margin-bottom: 20px;

      @keyframes fade-in-right {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }

        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      .fade-in-right-animation {
        animation: 2.5s fade-in-right;
      }

    }

    .title-play-button {
      background-color: transparent;
      border: 1px solid var(--cream-500);
      width: 35px;
      height: 35px;
      border-radius: 25px;
      align-content: center;
      margin-bottom: 10px;

      img {
        padding-top: 3px;
        padding-left: 2px;
      }
    }

    .subtitle {
      width: 53%;
      color: var(--white);
      align-content: center;
      margin-bottom: 50px;
      font-size: 1.25rem;
      font-weight: 200;
      line-height: 30px;

      @keyframes fade-in-left {
        0% {
          transform: translateX(-50%);
          opacity: 0;
        }

        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      .fade-in-left-animation {
        animation: 2.5s fade-in-left;
      }
    }

    .download-cv {
      width: 75%;
      align-content: center;
      animation: fade-in-opacity ease 5s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      height: 70px;

      @keyframes fade-in-opacity {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 2;
        }
      }

      button {
        cursor: pointer;
        border-radius: 35px;
        background-image: linear-gradient(to left,
            var(--cream-500),
            var(--cream-100));
        outline: 1px solid var(--cream-500);
        outline-offset: 3px;
        height: 61px;
        width: 225px;
        color: var(--cream-700);
        font-family: var(--kanit-font-family);
        font-size: 1.12rem;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }

        &:hover {
          background-image: linear-gradient(to left,
              var(--cream-100),
              var(--cream-500));
        }
      }
    }
  }

  .image {
    width: 50rem;
    height: 50rem;
    position: absolute;
    top: 125px;
    right: 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    .description {
      padding-left: 20px;
      top: 150px;

      .name {
        font-size: 1.5rem;

        .hero-name-line {
          display: none;
        }
      }

      .title {
        width: 90%;
        font-size: 3.75rem;
        padding-bottom: 20px;
        line-height: 50px;
        margin-bottom: 5px;
      }

      .subtitle {
        width: 75%;
        color: var(--white);
        align-content: center;
        margin-bottom: 25px;
        font-size: 1rem;
        font-weight: 200;
        line-height: 20px;
      }

      .download-cv {
        button {
          border: none;

          border-radius: 35px;
          background-image: linear-gradient(to left,
              var(--cream-500),
              var(--cream-100));
          outline: 1px solid var(--cream-500);
          outline-offset: 2px;
          height: 40px;
          width: 170px;
          color: var(--cream-700);
          font-family: var(--kanit-font-family);
          font-size: 0.9rem;
          font-weight: 300;
        }

        button:hover {
          background-image: linear-gradient(to left,
              var(--cream-500),
              var(--cream-100));
        }
      }
    }

    .image {
      width: 30rem;
      height: 30rem;
      top: 130px;
    }
  }
}

@media screen and (max-width: 826px) {
  .hero-section {
    .description {

      .name {
        @keyframes type {
          from {
            width: 0;
          }

          to {
            width: 30rem;
          }
        }
      }

      .title {
        width: 90%;
      }
    }
  }
}