<div class="hero-section">
  <div class="description">
    <div class="name">
      <h1 class="type cursor">HI, I AM VASILE BADRAGAN</h1> 
      <div class="hero-name-line"></div> 
   </div>
   
   <div class="title">
     <h1 class="fade-in-right-animation">A Software Engineer
       <!-- <span>
         <button class="title-play-button">
           <img src="assets/play.png" height="20px" width="15px">
         </button>
       </span> -->
     </h1> 
   </div>
   
   <div class="subtitle">
    <p class="fade-in-left-animation">
      With a passion for creating innovative solutions. 
      Analyzes user needs, designs, develops, and tests software using strong programming skills. 
      Thrives in a collaborative environment and brings a problem-solving mindset to every project.
    </p>
   </div>
   
   <div class="download-cv">
     <button matButton (click)="downloadCv()">
      DOWNLOAND CV
      <mat-icon svgIcon="arrow-right"></mat-icon>
     </button>
   </div>
  </div>

  <div class="image">
    <img src="assets/images/hero-image-removebg-preview.png">
  </div>

  <app-chess-background></app-chess-background>
</div>
