<div class="blog">
  <h1>BLOG</h1>
  <div class="title">
    <h1>Recent Blog</h1>
    <button>
      DISCOVER MORE 
      <mat-icon svgIcon="arrow-right2"></mat-icon>
    </button>
  </div>

  <div class="content">
    <div class="photo-container">
      <img src="assets/images/blog-1.jpg" alt="img" loading="lazy">
       <div class="date-container">
        <p>30 December 2023</p>
      </div> 
       <div class="description">
        <p>Designing The Perfect Feature Comaprison Table</p>
        <p>Web Development</p>
      </div> 
    </div>

    <div class="photo-container">
      <div class="photo-inner-container">
        <img src="assets/images/blog-2.jpg" alt="img" loading="lazy">
        <div class="date-container">
          <p>30 December 2023</p>
        </div>
        <div class="description">
          <p>Designing The Perfect Feature Comaprison Table</p>
          <p>Web Development</p>
        </div> 
      </div>
      <div class="photo-inner-container">
        <img src="assets/images/blog-3.jpg" alt="img" loading="lazy">
        <div class="date-container">
          <p>30 December 2023</p>
        </div>
        <div class="description">
          <p>Designing The Perfect Feature Comaprison Table</p>
          <p>Web Development</p>
        </div> 
      </div>
    </div>

    <div class="photo-container">
      <img src="assets/images/blog-4.jpg" alt="img" loading="lazy">
      <div class="date-container">
        <p>30 December 2023</p>
      </div>
      <div class="description">
        <p>Designing The Perfect Feature Comaprison Table</p>
        <p>Web Development</p>
      </div>
    </div>
  </div>
</div>